.footer{
	height:1.8125rem;
	line-height:2.0625rem;
	font-size:.75rem;
	background:#fff;
	width:100%;
	text-align:center;
	
	.tips{
		background:url(../images/qhzxlogo.png) no-repeat left center;
		background-size:4.375rem .875rem;
		padding-left:5rem;
		height: 1.8125rem;
  		display: inline-block;
	}
}